{
    "port" : 53,
    "refreshInterval" : 15000 
    "accounts": [
        {"accessKey" : "account1", "accessSecret" : "superkey1"},
        {"accessKey" : "account2", "accessSecret" : "superkey2"}
    ]
}
